* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: rgb(161, 100, 223);
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.btn {
  background-color: rebeccapurple;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin: 1rem;
  font-size: 1.2rem;
  width: 8rem;
  padding: 2rem 0;
  cursor: pointer;
}
