* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

.bg {
  background: url("./pexels-dsd-3917809.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  filter: blur(30px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
}
