* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Muli", sans-serif;
  background: url(./pexels-liger-pham-1108701.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  height: 100vh;
  overflow: hidden;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 40px;
  border-radius: 5px;
}

.container h1 {
  text-align: center;
  margin: 0 0 30px;
}

.container a {
  text-decoration: none;
  color: lightblue;
}

.btn {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  background: lightblue;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin: 0 0 30px 0;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin: 0;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s ease;
  /* cubic-bezier(0.68, -0.55, 0.265, 1.55) */
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-28px);
}
